{% extends 'app/base.html' %}
{% load widget_tweaks %}

{% block content %}

<h2 class="my-4">キーワード検索</h2>

<div class="table-responsive search-table">
  <table class="table">
    <form method="POST">
      {% csrf_token %}
      <tbody>
        <tr>
          <th scope="row">
            <div style="display: flex; justify-content: center; align-items: center;">
              <label class="control-label">検索キーワード</label>
            </div>
          </th>
          <td style="width: 50%;" colspan="3" class="text-center">
            {% render_field form.keyword class='form-control text-center' placeholder='キーワード' %}
          </td>
        </tr>
        <tr>
          <th scope="row">
            <div style="display: flex; justify-content: center; align-items: center;">
              <label class="control-label">検索数</label>
            </div>
          </th>
          <td style="width: 50%;" colspan="3" class="text-center">
            {% render_field form.items_count class='form-control text-center' placeholder='検索数' %}
          </td>
        </tr>
        <tr>
          <th scope="row">
            <div style="display: flex; justify-content: center; align-items: center;">
              <label class="control-label">検索範囲</label>
            </div>
          </th>
          <td style="width: 50%;">
            {% render_field form.search_start class='form-control text-center' placeholder='いつから' %}
            <span>〜</span>
            {% render_field form.search_end class='form-control text-center' placeholder='いつまで' %}
          </td>
        </tr>
        <tr>
          <td style="display: none;">
            {% render_field form.my_channel_id class='form-control' %}
          </td>
        </tr>
        <tr>
          <td colspan="2" class="text-center">
            <button class="btn btn-warning" type="submit">検索する</button>
          </td>
        </tr>
      </tbody>
    </form>
  </table>
</div>

{% endblock %}