{% extends 'app/base.html' %}
{% load widget_tweaks %}

{% block content %}
  <div>
    <h4 class="my-3">検索キーワード「{{ keyword }}」</h4>
    <form method="POST" action="{% url 'index' %}">
      {% csrf_token %}
      <button class="btn btn-warning mb-4" type="submit">キーワードを変更する</button>
    </form>
    <!-- <form method="POST" action="{% url 'keyword' %}">
      {% csrf_token %}
      <input type="text" class="form-control" style="display: none;" value="{{ form.keyword.value }}">
      <input type="text" class="form-control" style="display: none;" value="{{ form.items_count.value }}">
      <input type="text" class="form-control" style="display: none;" value="{{ form.search_start.value }}">
      <input type="text" class="form-control" style="display: none;" value="{{ form.search_end.value }}">
      <div class="mb-3" style="display: flex;">
        <input type="text" class="form-control" value="{{ form.my_channel_id.value }}" placeholder="自分のチャンネルID" style="line-height: 38px; width: 50%; margin-right: 10px;">
        <button class="btn btn-success" type="submit">再生リスト作成</button>
      </div>
    </form> -->
  </div>
  {% for row in data %}
  <div class="card mb-2" style="border-bottom: 1px solid black; border-top: none; border-left: none; border-right: none;">
    <div class="row g-0 align-items-center" style="height: 100%;">
      <div class="col-md-4" style="height: 90%;">
        <iframe src="{{ row.chapter_url }}" allowfullscreen class="embed-responsive-item" allow="picture-in-picture" style="width: 100%;"></iframe>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <p class="card-text">{{ row.video_title }}</p>
          <p class="card-text font-weight-bold">チャプタータイトル：{{ row.chapter_title }}</p>
          <p class="card-text"><small class="text-body-secondary">{{ row.published_date }}</small></p>
        </div>
      </div>
    </div>
  </div>
  {% empty %}
  <h5>検索にヒットした動画はありません</h5>
  {% endfor %}

{% endblock %}