{% extends 'app/base.html' %}
{% load widget_tweaks %}

{% block content %}
  <div>
    <h4 class="my-3">検索キーワード「{{ keyword }}」</h4>
    <form method="POST" action="{% url 'keyword' %}">
      {% csrf_token %}
      <div style="display: none;">{% render_field form.keyword class='form-control' placeholder=keyword %}</div>
      <div style="display: none;">{% render_field form.items_count class='form-control' placeholder=items_count %}</div>
      <div style="display: none;">{% render_field form.search_start class='form-control' placeholder=search_start %}</div>
      <div style="display: none;">{% render_field form.search_end class='form-control' placeholder=search_end %}</div>
      <input>{% render_field form.my_channel_id class='form-control' %}</input>
      <button class="btn btn-success mb-3" type="submit">プレイリストを作成する</button>
    </form>
  </div>
  {% for row in data %}
  <div class="card mb-2" style="border-bottom: 1px solid black; border-top: none; border-left: none; border-right: none;">
    <div class="row g-0 align-items-center" style="height: 100%;">
      <div class="col-md-4" style="height: 90%;">
        <iframe src="{{ row.chapter_url }}" allowfullscreen class="embed-responsive-item" style="width: 100%;"></iframe>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <p class="card-text">{{ row.video_title }}</p>
          <p class="card-text font-weight-bold">チャプタータイトル：{{ row.chapter_title }}</p>
          <p class="card-text"><small class="text-body-secondary">{{ row.published_date }}</small></p>
        </div>
      </div>
    </div>
  </div>
  {% empty %}
  <h4>検索にヒットした動画はありません</h4>
  {% endfor %}

{% endblock %}